#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  position: relative;
  float: left;
  padding-right: 10px;
 }

#nav-bar .header {
  position: relative;
  font-size: 200%;
  line-height: 2.5;
 }