#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: black;
  position: fixed;
  padding-right: 2em;
  padding-left: 2em;
  z-index: 1;
  display: grid;
  grid-template-columns: 150px 1fr 100px;
  grid-template-rows: 80px;
}

.header-logo {
   float: left;
   font-size: 20px;
 }

.press {
  float: right;
padding-top: 16px;
  grid-column-start: 3;
}


section.press button {
  color: #000;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 15px;
}

section.press button:hover,
section.press button.hover {
  background-color: #00a087
}

section.press button:active,
section.press button.active {
  background-color: #00a087;
  transform: translateY(5px);
}
