#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  padding-right: 2em;
  padding-left: 2em;
  z-index: 1;
}

 #nav-bar .logo {
   /*position: relative;*/
   float: left;
   font-size: 25px;
 }

#compose-btn {
  float: right;
  border: 2px solid black;
  border-radius: 5px;
  background-color: grey;
  padding: 5px;
  max-height: 75px;
}
