#tweets:hover {
opacity: 1;
}

#tweets {
  opacity: 0.6;
  border: 1px solid #cecece;
  border-radius: 5px;
}

 #tweets .tweet-header {
  background-color: #ebebeb;
  height: 50px;
  width: 100%;
  padding: 5px;
 }

#tweets .profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  float: left;
}

#tweets .tweet-footer {
  border-top: 1px solid #cecece;
  width: 100%;
  font-size: 60%;
  padding: 5px;
}

#tweets .user-name {
  float: left;
  padding-left: 2px;
}

#tweets .user-handle {
  float: right;
}

#tweets .tweet-actions {
  opacity: 0;
}

#tweets:hover .tweet-actions {
  opacity: 1;
}

